# Ignore Terraform state and backup files
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfplan
.terraform/
.terraform.lock.hcl

# Ignore provider binaries and large files
**/terraform-provider-*

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore sensitive files
.env

# Ignore LFS tracked files
*.lfs